/*information main portafolio*/
/* section-7 */
.main-section-7 ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-section-7 ul li{
    list-style: none;
}
.li-color{
    font-weight: 900;

}

.contenedores-section-7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    width: 100%;
    gap: 10px
    
}

.contenedores-section-7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedores-section-7 a{
    cursor: default;
}

/* link de mascotas*/
.mascota{
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 700px){
    .main-section-7 ul{
        width: 80%;
    }
    .contenedores-section-7{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,350px);
    }
    .contenedores-section-7 img {
    width: 100%;
    height: 100%;
    object-fit: none;
    }
}
@media (max-width: 500px){
    
    .contenedores-section-7{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,200px);
    }
}

a p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;  
}

a p:hover{
    cursor: pointer;
    opacity: 0.5;
}